<footer class="border-t border-zinc-800">
  <div class="container">
    <div class="flex h-[260px] text-white py-4">
      <div class="w-1/2">
        <div class="flex gap-2 items-center">
          <i class="fa-brands fa-pied-piper-pp text-4xl"></i>
          <p>Pride Palace</p>
        </div>
      </div>
      <div class="w-1/2">
        <ul class="flex flex-col gap-2">
          <li class="text-white hover:text-gray-300 hover:underline">
            <a routerLink="/">Home</a>
          </li>
          <li class="text-white hover:text-gray-300 hover:underline">
            <a routerLink="/rooms">Rooms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
