<div class="flex gap-4 mt-4">
  <div class="w-52 p-4 border border-zinc-800 rounded-md">
    <h2 class="text-white">Total Rooms</h2>
    <p class="text-gray-400">{{ rooms.totalRooms }}</p>
  </div>

  <div class="w-52 p-4 border border-zinc-800 rounded-md">
    <h2 class="text-white">Rooms Booked</h2>
    <p class="text-gray-400">{{ rooms.bookedRooms }}</p>
  </div>

  <div class="w-52 p-4 border border-zinc-800 rounded-md">
    <h2 class="text-white">Rooms Available</h2>
    <p class="text-gray-400">{{ rooms.availableRooms }}</p>
  </div>
</div>
